// Modal Game Rules
#GameRulesModal.modal.fade(role='dialog')
	.modal-dialog
		// Modal content
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal') ×
				h4.modal-title How to play
			.modal-body
				h5 Read Card and Drink
			.modal-footer
				p Leave your email if u want to be updated!
				div.center
					input(type="text" name="NamePlayer" required)
					input.btn(type="button" value="Add")
// Modal Add Player
#AddPlayerModal.modal.fade(role='dialog')
	.modal-dialog
		// Modal content
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal') ×
				h4.modal-title Who wants to play?
			.modal-body
				div.center
					input#AddPlayerName(type="text" name="NamePlayer" value=" " required)
					input#AddPlayerBtn.btn(type="button" value="Add")
// Save Card to Player
#SaveCardModal.modal.fade(role='dialog')
	.modal-dialog
		// Modal content
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal') ×
				h2 Who does this card belong to?
			.modal-body
				.row
					#giveCard.col-xs-10-offset-1
						//- div
						//- 	input#NameBtn.btn(type="button" value="Add")
			.modal-footer
				h3 Meowww