// Modal Game Rules
#GameRulesModal.modal.fade(role='dialog')
	.modal-dialog
		// Modal content
		.modal-content
			.modal-header
				button#close.close(type='button', data-dismiss='modal') ×
				h4.modal-title How to play
			.modal-body
				h5 Read Card and Drink
			.modal-footer
				p Leave your email if u want to be updated!
				div.center
					form(method="post", action="/email")
						input(type="text" name="email" required)
						input#emailbtn.btn.btn-info(type="submit" value="Meow me later")
// Modal Add Player
#AddPlayerModal.modal.fade(role='dialog')
	.modal-dialog
		// Modal content
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal') ×
				h4.modal-title Who wants to play?
			.modal-body
				div.center
					input#AddPlayerName(type="text" name="NamePlayer" value=" " required)
					input#AddPlayerBtn.btn(type="button" value="Add")
			.modal-footer
				p
// Save Card to Player
#SaveCardModal.modal.fade(role='dialog')
	.modal-dialog
		// Modal content
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal') ×
				h2 Who does this card belong to?
			.modal-body
				.row
					#giveCard.col-xs-10-offset-1
						//- div
						//- 	input#NameBtn.btn(type="button" value="Add")
			.modal-footer
				p
// Add Card Modal
#AddCardModal.modal.fade(role='dialog')
	.modal-dialog
		// Modal content
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal') ×
				h2 Make up your own card!
			.modal-body
				form(method="post",enctype="multipart/form-data",action="/upload") 
					p 
						textarea(style="min-height:250px; width:100%;" rows="10" cols="50" type="text",name="Rule") Meow...What is your idea? Choose Single for a single player point card, Team for a team game with points or just choose regular for a just drink no point card. Choose an image of 250px by 260px for the best results. Or just leave it empty.
					span
						input(style="margin: 20px;" type='radio', name='Type', value='Single')
						|  Single     
						input(style="margin: 20px;" type='radio', name='Type', value='Team')
						|  Team     
						input(style="margin: 20px;" type='radio', name='Type', value='Regular')
						|  Regular     
					p 
						input(type="file",name="upl", value="Choose File") 
					p
						input(type="submit" value="Upload")
			.modal-footer
				p
// Save Card to Player
#SetPointsModal.modal.fade(role='dialog')
	.modal-dialog
		// Modal content
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal') ×
				h2 How many points?
			.modal-body.center
				p.pointsu How many points to hit to be safe from the end game.
				input.pointsu.center(type="number")
				p
				button#SetPointsBTN.btn.btn-info.btn-lg(type='button' value="Set") Set
			.modal-footer
				p