html
	head
		title Homepage
		include includes/head.pug
	body#animate-area
		.row
			.col-xs-3.nopadding
				div
					button#GameRules.btn.btn-info.btn-lg.buttonwidth(type='button', data-toggle='modal', data-target='#GameRulesModal') 
						span(class="glyphicon glyphicon-list leftspan" aria-hidden="true") 
						span  Rules
				div
					button#AddPlayer.btn.btn-info.btn-lg.buttonwidth(type='button', data-toggle='modal', data-target='#AddPlayerModal') 
						span(class="glyphicon glyphicon-plus" aria-hidden="true") 
						span  Add Player							
			.col-xs-6
				div#titlebox
					h1.title Drunk Kitty
			.col-xs-3
				div
					button#AddCard.btn.btn-info.btn-lg.buttonwidth(type='button', data-toggle='modal', data-target='#AddCardModal') 
						span(class="glyphicon glyphicon-plus" aria-hidden="true") 
						span  Add Card
				div
					button#setPoints.btn.btn-lg.buttonwidth(type='button', data-toggle='modal', data-target='#SetPointsModal')
						span(class="glyphicon glyphicon-plus-sign" aria-hidden="true")
						span  Set Points					
		.row
			.col-xs-3
				#players
			.col-xs-6.cardcontainer
				div.buttons
					button#NextCard.btn.btn-info.btn-lg(type='button') Next Card
					button#SaveCard.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#SaveCardModal') 
						span  Save Card
				div.center-block.border
					div#CardInfo-Box
						p#CardInfo.triangle-border.left
					div#cardbox
						div#kittybox
							img#kitty.kittysize(src='/Images/nakedkitty.png')
							img#kittystuff.kitysize(src='/Images/kittystuff2.png')
							div#TheCard
								//- (style="display: none")
								img#CardImg(src='/Images/default.png')
			.col-xs-3
				#SavedCard
		div#testbox
			div#test
		include includes/Modals.pug			
		include includes/scripts.pug