html
	head
		title Homepage
		include includes/head.pug
	body
		h1 Drunk Kitty
		div#cardbox
			div#TheCard
				//- (style="display: none")
				img#CardImg(src='/Images/card1.png')
		button#NextCard(type='button') Next Card
		button#SaveCard(type='button') Save Card to Player
		#SavedCard
		//- #AddPlayerModal.modal
		//- 	.modal-content
		//- 		.modal-header
		//- 			span.close x
		//- 			h2 Who wants to play?
		//- 		.modal-body
		//- 			form
		//- 				input#NameCardOwner(type="text" name="NameCardOwner" required)
		//- 				input#NameBtn(type="button" value="Meow")
		//- 		.modal-footer
		//- 			h3 Meowww
		#SaveCardModal.modal
			.modal-content
				.modal-header
					span.close x
					h2 Who does this card belong to?
				.modal-body
					form
						input#NameCardOwner(type="text" name="NameCardOwner" required)
						input#NameBtn(type="button" value="Meow")
				.modal-footer
					h3 Meowww
		include includes/scripts.pug		


