@font-face {
    font-family: titlefont;
    src: url(./../fonts/PORKH___.TTF);
}
.border{
  border: solid;
}

div.nopadding {
  padding: 0px;
  padding-left: 13px;
}

div.titlebox{
  text-align: center;
}
span.title{
  font-family: titlefont;
  font-size: 76px;
}

button#AddPlayer, button#GameRules {
    width: 148px;
    background-color: #c0dfed;
    border: 3px solid #b1cfdc;
    margin: 5px 0px 0px 5px;
}
span.leftspan{
  text-align: left;
}

div#TheCard{
    position: absolute;
}

div#cardbox{
  position: relative;
  border: solid green;
  max-width: 794px;
  text-align: center;
}

div#kittybox{
    width: 80%;
    position: relative;
    border: solid pink;
    height: 35%;
}
img#kitty {
    position: absolute;
    width: 100%;
    top:0;
    left:0;
    z-index: -1;
}

img#kittystuff{
  position: absolute;
  width: 100%;
  top:0px;
  left:0px;
  z-index: 1;
}

div.cardcontainer{
    text-align: center;
}

div#SavedCard{
    float: right;
}

img#CardImg {
	border-radius: 0px 0px 300px 300px;
  width:200px; 
  height:210px;
}

.playerStyle {
    min-height: 46px;
    width: 149px;
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 6px;
    border: 3px solid rgb(243, 185, 195);
    margin: 5px;
    color: #fff;
    background-color: pink;
}

button.givePlayerCard{
    text-align: center;
    min-height: 46px;
    width: 149px;
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 6px;
    border: 3px solid rgb(243, 185, 195);
    margin: 5px;
    color: #fff;
    background-color: pink;
}

button.givePlayerPoint{
    text-align: center;
    min-height: 30px;
    min-width: 80px;
    padding: 0;
    font-size: 100%;
    border-radius: 6px;
    border: 3px solid rgb(243, 185, 195);
    margin: 5px;
    color: #fff;
    background-color: pink;
}


@keyframes animatedBackground {
    from { background-position: bottom; }
    to { background-position: 0 100%; }
}

body{
    background-color: #8ec1da;
/*    background-color: #0b4b6c;*/
}

#animate-area   { 
    width: 100%;
    background-image: url(./../images/floatingbeers.png);
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: repeat-x;
    animation: animatedBackground 30s linear infinite;
}


/* ============================================================================================================================
== BUBBLE WITH A BORDER AND TRIANGLE
** ============================================================================================================================ */

/* THE SPEECH BUBBLE
------------------------------------------------------------------------------------------------------------------------------- */
div#CardInfo-Box{
    display: none;
    width: 50%;
    position:absolute;
    left: 70%;
    z-index: 1;
}

div#CardInfo-Box .show {
    visibility: visible;
    -webkit-animation: fadeIn s;
    animation: fadeIn 3s;
}

 Add animation (fade in the popup) 
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.triangle-border {
  position:relative;
  padding:15px;
  margin:1em 0 3em;
  border:5px solid #5a8f00;
  color:#333;
  background:#fff;
  /* css3 */
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

.triangle-border.left {
  margin-left:30px;
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-border:before {
  content:"";
  position:absolute;
  bottom:-20px; /* value = - border-top-width - border-bottom-width */
  left:41px; /* controls horizontal position */
  border-width:20px 20px 0;
  border-style:solid;
  border-color:#5a8f00 transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

/* creates the smaller  triangle */
.triangle-border:after {
  content:"";
  position:absolute;
  bottom:-13px; /* value = - border-top-width - border-bottom-width */
  left:49px; /* value = (:before left) + (:before border-left) - (:after border-left) */
  border-width:13px 13px 0;
  border-style:solid;
  border-color:#fff transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

/* Variant : left
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.left:before {
  top:10px; /* controls vertical position */
  bottom:auto;
  left:-30px; /* value = - border-left-width - border-right-width */
  border-width:15px 30px 15px 0;
  border-color:transparent #5a8f00;
}

/* creates the smaller  triangle */
.triangle-border.left:after {
  top:16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
  bottom:auto;
  left:-20px; /* value = - border-left-width - border-right-width */
  border-width:9px 21px 9px 0;
  border-color:transparent #fff;
}

.buttonwidth{
  width:100%;
}