@font-face {
    font-family: titlefont;
    src: url(./../fonts/PORKH___.TTF);
}

body {
font-size: 100%; /* Makes the font go to 16 pixels */
}


h1.title{
  font: 8em titlefont;
  text-align: center;
  color: #fb696f;
}


h1 {
 /* 18px :  16px = 1.2em*/
}


h5 {
  font-family: 'Dekko', cursive;
  font-size: 30px;
}

p#CardInfo{
  font-family: 'Dekko', cursive;
  font-size: 20px;
}

.modal-content {
  border-radius: 30px 30px 30px 30px;
}

.modal-body{
  background-color:white;
}

.modal-footer p{
  font-family: 'Dekko', cursive;
  font-size: 20px;
}
.modal-footer {
  background-color: #c0dfed;
  border-radius: 0px 0px 30px 30px;
}

.modal-header{
  border-radius: 30px 30px 0px 0px;
  font-family: 'Chewy', cursive;
  background-color: #c0dfed;
  color: #fb696f;
}

button#AddCard, button#setPoints{
    width: 60%;
    background-color: #c0dfed;
    border: 3px solid #b1cfdc;
    float: right;
    margin: 5px 5px 5px 5px;
    color: white;
}

button#AddPlayer, button#GameRules {
    text-align: center;
    width: 60%;
    background-color: #c0dfed;
    border: 3px solid #b1cfdc;
    margin: 5px 0px 0px 5px;
}

div.nopadding {
  padding: 0px;
  padding-left: 13px;
}

span.leftspan{
  text-align: left;
}

div#TheCard{
    margin-top: 40%;
    vertical-align: center;
    width: 100%;
    height: 65%;
}

img#CardImg {
  border-radius: 0px 0px 300px 300px;
  width:25%; 
}

div#cardbox{
  position: relative;
  max-width: 794px;
  text-align: center;
}

div#kittybox{
    width: 80%;
    position: relative;
    border: solid rgba(255, 0, 0, .0);
    height: 35%;
}
img#kitty {
    position: absolute;
    width: 100%;
    top:0;
    left:0;
    z-index: -1;
}

img#kittystuff{
  position: absolute;
  width: 100%;
  top:0px;
  left:0px;
  z-index: 1;
}

div.cardcontainer{
    text-align: center;
}

div#SavedCard{
    float: right;
}

div.savedCardSmall{
  background-color: white;
  border-radius: 5px 5px 5px 5px;
}

div.savedCardSmall span.naam{
  font-family: 'Dekko', cursive;
  font-size: 20px;
}


.playerStyle {
    min-height: 46px;
    width: 62%;
    padding: 10px 16px;
    font-size: 120%;
    border-radius: 6px;
    border: 3px solid rgb(243, 185, 195);
    margin: 5px;
    color: #fff;
    background-color: pink;
}

button.givePlayerCard{
    text-align: center;
    min-height: 46px;
    width: 149px;
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 6px;
    border: 3px solid rgb(243, 185, 195);
    margin: 5px;
    color: #fff;
    background-color: pink;
}

button.givePlayerPoint{
    text-align: center;
    min-height: 30px;
    min-width: 80px;
    padding: 0;
    font-size: 100%;
    border-radius: 6px;
    border: 3px solid rgb(243, 185, 195);
    margin: 5px;
    color: #fff;
    background-color: pink;
}

body{
    background-color: #8ec1da;
}

@keyframes animatedBackground {
    0% { background-position: 0% 100%;}
    10% {background-position: 10% 103%;}
    20% {background-position: 20% 100%;}
    30%{background-position: 30% 103%;}
    40% {background-position: 40% 100%;}
    50% { background-position: 50% 103%;}
    60% {background-position: 40% 100%;}
    70% {background-position: 30% 103%;}
    80%{background-position: 20% 100%;}
    90% {background-position: 10% 103%;}
    100% { background-position: 0% 100%;}
}

#animate-area   { 
    width: 100%;
    height: 100%;
    background-image: url(./../images/floatingbeers.png);
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: repeat-x;
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animatedBackground 40s linear infinite;
}

/* THE SPEECH BUBBLE
------------------------------------------------------------------------------------------------------------------------------- */
div#CardInfo-Box{
    display: none;
    width: 50%;
    position:absolute;
    left: 70%;
    z-index: 1;
}

div#CardInfo-Box .show {
    visibility: visible;
    -webkit-animation: fadeIn s;
    animation: fadeIn 3s;
}

 Add animation (fade in the popup) 
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.triangle-border {
  position:relative;
  padding:15px;
  margin:1em 0 3em;
  border:5px solid #f7db9b;
  color:#333;
  background:#fff;
  /* css3 */
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

.triangle-border.left {
  margin-left:30px;
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-border:before {
  content:"";
  position:absolute;
  bottom:-20px; /* value = - border-top-width - border-bottom-width */
  left:41px; /* controls horizontal position */
  border-width:20px 20px 0;
  border-style:solid;
  border-color:#f7db9b transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

/* creates the smaller  triangle */
.triangle-border:after {
  content:"";
  position:absolute;
  bottom:-13px; /* value = - border-top-width - border-bottom-width */
  left:49px; /* value = (:before left) + (:before border-left) - (:after border-left) */
  border-width:13px 13px 0;
  border-style:solid;
  border-color:#fff transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

/* creates the larger triangle */
.triangle-border.left:before {
  top:10px; /* controls vertical position */
  bottom:auto;
  left:-30px; /* value = - border-left-width - border-right-width */
  border-width:15px 30px 15px 0;
  border-color:transparent #f7db9b;
}

/* creates the smaller  triangle */
.triangle-border.left:after {
  top:16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
  bottom:auto;
  left:-20px; /* value = - border-left-width - border-right-width */
  border-width:9px 21px 9px 0;
  border-color:transparent #fff;
}

.buttonwidth{
  width:100%;
}

div#Team1 {
  display: inline-block;
  padding: 5px;
  background-color: pink;
  border-radius: 5px;
}

div#Team2{
  display: inline-block;
  padding: 5px;
  background-color: lightblue;
  border-radius: 5px;
}

div#Team1:hover {
  border: solid #d9534f;
}
div#Team2:hover {
  border: solid #5bc0de;
}

span.glyphicon-plus-sign{
  color: white;
  font-size: 18px;
}

div#puttime{
  display: block;
  float: right;
}

button#timerbtn{
 height: 30px;
}

input#mins{
  height: 30px;
  width:30%;
  border-radius: 6px;
  padding: 0px 0px 5px 5px;
}

div#puttime{
  text-align: right;
  width:relative;
  border-radius: 6px;
  background-color: #c0dfed;
  border: 3px solid #b1cfdc;
  padding:  5px;
  margin: 5px;
  margin-top: 0px;
}