div#cardbox{
	min-height: 500px;
}

img#CardImg {
	border-radius: 0px 0px 300px 300px;
}

.playerStyle {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    border: 1px solid transparent;
    color: #fff;
    background-color: pink;
}