div#cardbox{
	min-height: 500px;
    text-align: center;
}

div.cardcontainer{
    text-align: center;
}

div#SavedCard{
    float: right;
}

div.savedCardSmall{
    z-index: -1;
}

span.smallCard { 
/*   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; */
}



img#CardImg {
	border-radius: 0px 0px 300px 300px;
}

.playerStyle {
    min-height: 46px;
    width: 149px;
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 6px;
    border: 3px solid rgb(243, 185, 195);
    margin: 5px;
    color: #fff;
    background-color: pink;
}

button.givePlayerCard{
    text-align: center;
    min-height: 46px;
    width: 149px;
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 6px;
    border: 3px solid rgb(243, 185, 195);
    margin: 5px;
    color: #fff;
    background-color: pink;
}

button#AddPlayer, button#GameRules {
    background-color: #c0dfed;
    border: 3px solid #b1cfdc;
    margin: 5px 0px 0px 5px;
}

@keyframes animatedBackground {
    from { background-position: bottom; }
    to { background-position: 0 100%; }
}

body{
    background-color: #8ec1da;
}

/*#animate-area   { 
    width: 100%;
    background-image: url(./../images/floatingbeers.png);
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: repeat-x;
    animation: animatedBackground 30s linear infinite;
}*/